.hotels{
    margin-left: 50px;

}
.hotels h2{
    margin-bottom: 10px;
}
.hotels p{
    padding: 0;
    margin: 0;
}
.hotel-card{ 
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 10px;
    position: relative;
    
}
.hotel-card1, .hotel-card2, .hotel-card3, .hotel-card4{
    position: relative;}
.hotel-card1 img{
    width: 300px;
    height: 272px;
    border-radius: 10px;
    

}
.hotel-card1 H3{
    position: absolute;
    top: 75%;
    left:20px ;
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.hotel-card2 img{
     width: 300px;
    height: 272px;
     border-radius: 10px;
   
}
.hotel-card2 H3{
    position: absolute;
    top: 75%;
    left:20px ;
    color: white;
    font-size: 20px;
    font-weight: 800;
}
    .hotel-card3 img{
     width: 300px;
    height: 272px;
     border-radius: 10px;
     
}
.hotel-card3 H3{
    position: absolute;
    top: 75%;
    left:20px ;
    color: white;
    font-size: 20px;
    font-weight: 800;
}
    .hotel-card4 img{ 
     width: 300px;
    height: 272px;
     border-radius: 10px;
    
}
.hotel-card4 H3{
    position: absolute;
    top: 75%;
    left:20px ;
    color: white;
    font-size: 20px;
    font-weight: 800;
}
    
    